name: Deploiement Automatique

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Déploiement SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            cd ~/mon-projet-lamp
            # On s'assure d'avoir la dernière version de GitHub
            git fetch --all
            git reset --hard origin/main
            # On relance les conteneurs (avec reconstruction si le Dockerfile a changé)
            docker compose up -d --build
