name: Deploiement Local (Runner)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # C'est ici que la magie opère : on utilise TON serveur
    runs-on: self-hosted
    steps:
      - name: Récupération du code
        # Cette action dit au runner d'aller chercher le code sur GitHub
        uses: actions/checkout@v3

      - name: Mise à jour et Redémarrage
        run: |
          cd ~/mon-projet-lamp
          # On s'assure d'avoir la dernière version
          git fetch --all
          git reset --hard origin/main
          # On relance les conteneurs
          docker compose up -d --build
